
// COLORS

$color-primary: #C6A480;
$color-primary-light: #fad5b0;
$color-primary-dark: #947553;

$color-secondry: #292929;
$color-secondry-light: #515151;
$color-secondry-dark: #000000;

$color-tretiary: #000;

$color-white: #fff;

$color-dark-1: #000;

$color-black-1: #141414;
$color-black-2: #292929;

$color-gold: #C6A480;














// FONTS
// Light 300
// Regular 400
// Medium 500

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 700;

$font-family-main: "Lato";
$font-family-second: "sans-serif";

// GRID SYSTEM

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;