.btn-anim {
    &,
    &:link,
    &:visited {
        display: inline-block;
        position: fixed;
        right: 4rem;
        bottom: 4rem;
        background-color: $color-secondry-light;
        color: $color-black-1;
        font-size: 1.2rem;
        padding: 2rem 0;
        text-decoration: none;
        width: 4.1rem;
        overflow: hidden;
        transform: scale(0);
        z-index: 2500;
        transition: all 0.7s ease;
    }

    &__before {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 3rem 2rem;
        background-color: $color-primary;
        z-index: 2100;
        transition: all 0.5s ease;
    }
    
    &__text {
        display: block;
        position: absolute;
        left: 27%;
        top: 35%;
        text-align: left;
        width: 100%;
        opacity: 0;
        transition: all 0.3s ease;
    }

    &__icon {
        display: block;
        position: absolute;
        top: 10%;
        left: 27%;
        font-size: 2rem;
    }

    &:hover &__text {
        opacity: 1;
    }

    &:hover {
        width: 20rem;
    }

}

.btn {
    &,
    &:link,
    &:visited {
        display: none;
        background-color: $color-primary-light;
        text-align: center;
        color: $color-black-1;
        font-size: 1.56rem;
        padding: 2rem 5rem;
        text-decoration: none;
    }
}