.pop-up {
    display: none;
    opacity: 0;
    position: fixed;
    top: 8rem;
    width: 100%;
    height: 100vh;
    background-color: rgba($color-secondry, 1);
    z-index: 1000;
    left: 0;
    overflow: auto;
    
    
    &__heading-box {
        display: block;
        cursor: default;
    }

    &__heading {
        color: $color-white;
        background-image: linear-gradient(108deg , rgba($color-primary-light, 0.9) 0%, rgba($color-primary ,0.9) 50%);
        background-size: 0%;
        transition: all 0.8s;
        background-repeat: no-repeat;
        padding: 2rem 2rem;
        opacity: 1;
        display: inline-block;
        cursor: default;
    }

    &__heading--right {
        float: right;
        transition: background-size 0.8s ease 1.6s;
    }

    &__left {
        z-index: 100;
    }

    &__right {
        position: fixed;
        bottom: 0;
        right: 2rem;

    }

    &__img {
        position: fixed;
        bottom: 0;
        right: 16%;
        width: 17%;
        z-index: 100;
        transform: translateX(10rem);
        opacity: 0;
        filter: brightness(0);
    }

    &__close {
        position: fixed;
        top: 9rem;
        right: 5rem;
        font-size: 2rem;
        color: $color-white;
        cursor: pointer;
        transition: all 0.3s;
        z-index: 1000;

        &:hover {
            color: $color-primary;

        }
    }

}

.show-pop-up {
    display: block;
    opacity: 0;
}

.hide-pop-up {
    display: none;
}