.search-bar {
    margin-left: 7.7%;
    display: block;


    &__input {
        background-color: $color-secondry;
        outline: none;
        border: 1px solid rgba($color-primary-light, 0.5);
        padding: 1rem 3rem;
        color: $color-white;
        font-family: inherit;
        font-weight: $font-weight-medium;
        font-size: 1.6rem;
        transition: all 0.5s;
        

        &:focus {
            box-shadow: 0rem 0.2rem 2rem rgba($color-secondry-dark, 0.8);
            border: 1px solid rgba($color-primary-light, 0.8);
        }

    }

}