.search {
    margin-left: 7.7%;
    display: block;


    &__input-wraper {
        position: relative;
    }

    &__input {
        background-color: $color-secondry;
        outline: none;
        border: 1px solid rgba($color-primary-light, 0.5);
        padding: 1rem 4rem;
        color: $color-white;
        font-family: inherit;
        font-weight: $font-weight-medium;
        font-size: 1.6rem;
        transition: all 0.5s;
        width: 20%;
        

        &:focus {
            // box-shadow: 0rem 0.2rem 2rem rgba($color-secondry-dark, 0.8);
            border: 1px solid rgba($color-primary-light, 0.8);
            width: 50%;
            background-color: rgba($color-white, 0.8);
            color: rgba($color-secondry-dark, 1);
        }

        &:focus ~ .search__icon {
            color: $color-secondry-light;

        }

        

    }

    &__icon {
        position: absolute;
        top: 20%;
        left: 0;
        margin-left: 1rem;
        font-size: 2.2rem;
        color: $color-primary;

    }

    &__results {
        display: none;
    }

}